/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set body defaults */
body {
  background-color: black;
  font-weight: 400;
  font-size: 1.25rem;
  min-height: 150vh;

  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  position: relative;
  width: 1280px;
  
  width: 95%;
  display: flex;
  gap: 2em;
  position: relative;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.left-side {
  margin-top: 5em;
  width: 33%;
  max-width: 800px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

header p {
  width: 100%;
  padding: 0.64em;
  text-align: center;
  color: white;
  border: 1px solid white;
  color: #fff;
  font-family: "Crimson Pro", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  text-transform: uppercase;
}

ul {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-right: 3em;
  display: flex;
  gap: 1.5em;
  color: white;
  list-style-type: none;
}

.logo {
  margin-left: 3.5em;
  font-size: 0.9rem;
  width: 30%;
  max-width: 125px;
}

h1 {
  color: #fff;
  font-family: "Lora", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.left-side p {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  color: #fff;
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

span {
  color: var(--Gray-3, #828282);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.aliza-profile {
  width: 13%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-job {
  display: flex;
  gap: 0.7em;
}

.small-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}

.read-more {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.person-text {
  color: #fff;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1em;
}

.image {
  max-width: 800px;
  margin-top: 8em;
  height: auto;
}

.person-image {
  width: 13%;

  border-radius: 50%;
}

.person-position {
  position: absolute;
  padding: 1em;
  width: 50%;
  max-width: 420px;
  min-width: 420px;
  top: 90%;
  left: 57%;
  transform: translate(18%, -8%);
  z-index: 500;
  background-color: #181719;
}

.person {
  display: flex;
  gap: 0.8em;
  align-items: center;
}

@media (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
  }

  h1 {
    color: #fff;
    font-family: "Lora", serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .container {
    position: relative;
    max-width: 800px;

    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;
    justify-content: center;
  }

  .left-side {
    margin-top: 5em;
    margin-right: 0em;
    margin-left: 0 em;
    width: 100%;
    min-width: 18.75rem;
    max-width: 40p;
    min-height: 0px;
  }

  .image {
    min-width: 30rem;
    max-width: 60.5rem;
    margin-top: 2em;
    height: auto;
  }

  .person-position {
    position: absolute;
    padding: 1em;
    width: 20%;
    max-width: 420px;
    min-width: 410px;
    top: 95%; /*top: 90%; */

    left: 25%; /* left: 57%;*/
    transform: translate(-18%, -13%); /*transform: translate(18%, -8%);*/
    z-index: 500;
    background-color: #181719;
  }

  ul {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-right: 0em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: white;
    list-style-type: none;
  }
}



